﻿@font-face {
    font-family: 'Verdana';
    src: url('Verdana.eot');
    src: local('Verdana'),
    url('Verdana.eot?#iefix') format('embedded-opentype'),
    url('Verdana.woff') format('woff'),
    url('Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
.content {
    padding: 0;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

.content {
    font-family: "Verdana";
    height: 100%;
    background: url(../image/journey.png) no-repeat;
    position: relative;
    background-size: cover;
}

.header {
    width: 100%;
    height: 56px;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
}

.logo {
    font-size: 20px;
    display: inline-block;
    float: left;
    padding: 15px 0 15px 90px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo:hover {
    color: rgba(60, 184, 120, 255);
    transition: 1s;
}

.icons {
    float: right;
    margin-top:15px;
    margin-right: 15px;
    letter-spacing: 15px;
}

.ic-calendar,
.ic-forum,
.ic-journey {
    display: inline-block;
    width: 26px;
    height: 20px;
    background-image: url('../image/png.png');
    overflow: hidden;
}

.ic-calendar {
    background-position: 0 0;
}
.ic-forum {
    background-position: 0 -80px;
    height: 19px;
}
.ic-journey {
    background-position: 0 -40px;
}
.ic-calendar:hover {
    background-position: 0 -20px;
}
.ic-forum:hover {
    background-position: 0 -100px;
}
.ic-journey:hover {
    background-position: 0 -60px;
}

.logotext {
    font-size: 16px;
    color: white;
    border-left: 1px solid #626262;
    padding-left: 25px;
    float: right;
    margin-top: 15px;
    margin-right: 100px;
    text-decoration: none;
    letter-spacing: 1px;
}

.logotext span a {
    text-decoration: none;
    color: rgba(60, 184, 120, 255);
}

.logotext span a:hover {
    transition: 1s;
    text-decoration: underline;
}

.form {
    width: 444px;
    height:584px;
    background-color: white;
    border-radius: 10px;
    margin: 110px 460px;
    position: absolute;
    align-items: center;
}

.element {
    width:20px;
    height: 20px;
    background-color:rgba(60, 184, 120, 255);
    left:0;
    top: 30px;
    position: absolute;
}

.flexContainer {
    width: 320px;
    height: 520px;
    margin: 30px 60px 30px 60px;
    border: 1px solid transparent;
    justify-content: stretch;
}
.p1 {
   float: left;
    margin-top: 0;
}
.p2 {
    float: right;
    display: inline-block;
    margin-top: 0;
}
.p1 a {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(67, 67, 67);
    text-decoration: none;
}

.p2 a {
    color: rgba(60, 184, 120, 255);
    text-decoration: none;
    float: right;
}

.p2 a:hover {
    transition: 1s;
    text-decoration: underline;
}

.clear {
    clear: both;
}

.facebook {
    border: 1px solid transparent;
    font-size: 16px;
    text-decoration: none;
    width: 156px;
    height: 46px;
    background-color: #305db8;
    border-radius: 4px;
    margin: 40px 0 0 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a .facebook {
    text-decoration: none;
}

.fab.fa-facebook-f {
    padding-right: 25px;
    font-size: x-large;
}

.fab.fa-google-plus-g {
    padding-right: 25px;
    font-size: x-large;
}
.google {
    font-family: Futura, sans-serif;
    font-size: 18px;
    border: 1px solid transparent;
    width: 156px;
    height: 46px;
    margin-top: -48px;
    background-color: #df4a32;
    border-radius: 4px;
    float: right;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook>span {
    padding-right: 5px;
}

hr {
    margin-top:30px;
    width: 135px;
    display: inline-block;
}

.or {
    font-family:  ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 16px;
    color: grey;
    margin: 0 13px 0 13px;
}

.format {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: rgba(190, 190, 190, 255);
    margin: 15px 0 15px 0;

}

.text {
    width: calc(100% - 20px);
    padding: 10px 0 10px 20px;
    border-radius: 2px;
    border: 1px solid lightgrey;
    font-size: 14px;
}

.text:focus {
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    outline:none;
}

input [type="checkbox"] {
    padding-left: 20px;
    text-align: center;
    margin-bottom: 15px;
    background-color: white;
}

label span a {
    color:  rgba(60, 184, 120, 255);
    text-decoration: none;
    font-size: 16px;
}

label span a:hover {
    transition: 1s;
    text-decoration: underline;
}

.checkbox {
    width:20px;
    height: 20px;
    margin: 0 10px 5px 0;
}

/*label::before {content: "☑";*/
    /*color: rgba(60, 184, 120, 255);*/
    /*justify-content: left;*/
    /*font-size: 3vmin;*/
    /*padding-right: 10px;*/

button { width: 322px; height: 46px;
    background-color: #3cb878;
    border-radius: 5px;
    font-family:  ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 16px;
    color: white;
    border: 1px solid lightgrey;
    outline:none;
    margin-top: 13px;
    margin-left: 0;
}

button>a {
    color:white;
    text-decoration: none;
}
